@model BuildmateWebsite.Controllers.BlogController.BlogViewData
@using BuildmateWebsite.Models

@{
    ViewBag.Title = @Model.CurrentCategory.Name + " - Estimating Software Blog for builders, developers and home enthusiasts";
    ViewBag.Keywords = @Model.CurrentCategory.Keywords;
    Layout = "~/Views/Shared/Blog.cshtml";
}
<section class="blog main-panel">
    <h1>@Model.CurrentCategory.Name</h1>

    @foreach (var item in Model.BlogInCategories)
    {
        <article class="blog">
            <section class="post-header">
                <h2>@Html.ActionLink(item.Title, "Article", "blog", new { id = item.BlogId, Title = item.Title.ToSeoUrl() }, null)</h2>
    
                <div class="post-author">
                    <img src="/content/images/avatars/steve.jpg" />
                    Posted on <time>@item.DateCreated.ToString("dddd, dd MMMM, yyyy")</time><br />
                    Written by Steve
                </div>
            </section>
    
            <section class="post-content">
                @Html.DisplayFor(model => item.Abstract)
                <p>
                    @Html.ActionLink("Continue Reading...", "Article", "blog", new { id = item.BlogId, Title = item.Title.ToSeoUrl() }, new { @class = "post-continue" })
                </p>
            </section>
        </article>
    }
</section>